@import "../../node_modules/normalize.css/normalize.css";
@import "./_flex.less";
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

.signupForm {
    padding:26px;
    display:flex;
    flex-flow:column;
}

.loginForm {
    padding:26px;
}


fullscreen a {
    transition: transform 1s
}
  
.flex {
    display:flex;
}

.flex-container-column {
  display:flex;
  flex-flow:column;
}

.flex-container {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
}

.flex-container-center {
  display: flex;
  align-items:center;
  justify-content:center;
  margin:2% 0;
}

.flex-items {
    margin:2% 0;
    flex:0 1 50%;
}

footer {
    background-color:cadetblue;
    display:flex;
    justify-content:center;

}

html|* > svg {
  -webkit-transform-origin: 50% 50% 0px;
}

html {
    font-family: 'Roboto', sans-serif;
}

